[Desktop Entry]
Name=Gambas3
Exec=gambas3
GenericName=Gambas 3 IDE
GenericName[fr]=EDI Gambas 3
GenericName[ru]=Gambas 3 IDE(ИСР)
Comment=Gambas3 Integrated Development Environment
Comment[fr]=Environnement de développement intégré Gambas 3
Comment[ru]=Gambas 3 IDE(ИСР) - альтернатива для Visual Basic
Icon=gambas3
Terminal=false
Type=Application
Categories=Development;IDE;
StartupNotify=true
Actions=QT4;QT5;GTK3

[Desktop Action QT4]
Name=Run with QT4
Name[fr]=Exécuter avec QT4
Exec=env GB_GUI=gb.qt4 gambas3

[Desktop Action QT5]
Name=Run with QT5
Name[fr]=Exécuter avec QT5
Exec=env GB_GUI=gb.qt5 gambas3

[Desktop Action GTK3]
Name=Run with GTK3
Name[fr]=Exécuter avec GTK3
Exec=env GB_GUI=gb.gtk3 gambas3
